<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img width="40" alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==" />
  <span>{{name}}</span>

  <app-new-comp></app-new-comp>
</div>

<div class="content" role="main">




  <!-- Next Steps -->
  <h2>Next Steps</h2>
  <p>What do you want to do next with your app?</p>

  <input type="hidden" #selection>

  <div class="card-container">
    <button class="card card-small" (click)="selection.value = 'component'" tabindex="0">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" />
      </svg>
      <span>New Component</span>
    </button>

    <button class="card card-small" (click)="selection.value = 'material'" tabindex="0">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" />
      </svg>
      <span>Angular Material</span>
    </button>

    <button class="card card-small" (click)="selection.value = 'pwa'" tabindex="0">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" />
      </svg>
      <span>Add PWA Support</span>
    </button>

    <button class="card card-small" (click)="selection.value = 'dependency'" tabindex="0">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" />
      </svg>
      <span>Add Dependency</span>
    </button>

    <button class="card card-small" (click)="selection.value = 'test'" tabindex="0">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" />
      </svg>
      <span>Run and Watch Tests</span>
    </button>

    <button class="card card-small" (click)="selection.value = 'build'" tabindex="0">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" />
      </svg>
      <span>Build for Production</span>
    </button>
  </div>



  <!-- component life-cycle -->
  <div class="container">
    <h1>component life-cycle</h1>
    <span class=" setup">Given Number</span>
    <h1 class="punchline">{{ data }}</h1>

    <button type="button" class="btn btn-success" (click)="fnAddNumber()">Add NUmber
    </button>
    <button type="button" class="btn btn-danger" (click)="deleteNumber()">Clear Number
    </button>
  </div>


  <!-- ngfor  -->
  <div class='panel panel-primary'>
    <h1>*ngFor</h1>
    <div class='panel-heading'>
      <h2>{{movietTitle}}</h2>
    </div>
    <div class='panel-body'>
      <div class='table-responsive'>

        <table class='table'>
          <thead>
            <tr>
              <th>Title</th>
              <th>Director</th>
              <th>Cast</th>
              <th>Release Date</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let movie of movies;">
              <td>{{movie.title}}</td>
              <td>{{movie.director}}</td>
              <td>{{movie.cast}}</td>
              <td>{{movie.releaseDate}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>


  <!-- ngIf  -->
  <div class="container">
    <h1> *ngIF </h1>
    <p *ngIf="show">Condition is true and ngIf is true</p>
    <p *ngIf="!show">Condition is false and ngIf is true</p>
  </div>


  <!-- ngSwitch  -->
  <h1> *ngSwitch </h1>
  <h2>Select Number</h2>
  <select (change)="SetDropDownValue($event)">
    <option value="">Select</option>
    <option value="one">One</option>
    <option value="two">Two</option>
    <option value="three">Three</option> 
  </select>
  <h2>You Have Selected</h2>
  <div [ngSwitch]='dropDownValue'>
    <h3 *ngSwitchCase="'one'">One</h3>
    <h3 *ngSwitchCase="'two'">Two</h3>
    <h3 *ngSwitchCase="'three'">Three</h3>
    <h3 *ngSwitchDefault="">You have not selected any Number</h3>
  </div>



  <!-- [disable]  -->
  <div class="container">
    <h2>[disabled]</h2>
    <button class="buttonDisable" (click)="flip()">flip</button>
    <button class="buttonDisable" [disabled]="isDisabled" (click)="myClick()">disabled</button>
  </div>

  <router-outlet></router-outlet>